
input[type="text"] {
    width: 250px;
    margin: 10px;
    padding: 10px;
    font-size: 16px;
    border: 2px solid #5a5a5a;
    border-radius: 8px;
    background-color: #2c2c2c;
    color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}


button {
    padding: 12px 25px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 8px;
    margin-right: 10px;
    transition: all 0.3s ease;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    font-family: 'Orbitron', sans-serif; 
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button.edit {
    background-color: #17a2b8;
}

button.edit:hover {
    background-color: #138496;
}


ul {
    list-style-type: none;
    padding: 0;
    margin: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

li {
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #1c1c1c;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
    transform: perspective(600px) rotateY(0deg);
    width: 250px;
}

li:hover {
    transform: perspective(600px) rotateY(10deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.5);
}


img {
    max-width: 100%;
    height: auto;
    display: block;
    margin-bottom: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700&display=swap');


body {
    background-color: #121212;
    color: #fff;
    font-family: 'Orbitron', sans-serif;
    margin: 0;
    padding: 0;
}
